node_modules/
cartridges/**/cartridge/static/
coverage/
doc/
bin/
codecept.conf.js

/cartridges/int_worldpay/
/cartridges/app_storefront_base/
/cartridges/worldpay_sfra_changes/
/cartridges/int_worldpay_sfra/
/cartridges/int_worldpay_csc/
/cartridges/int_worldpay_core/
ismllinter.config.js
