#instant-checkout {
    .start-lines {
        padding-left: 1.25rem;
    }
}

#quick-pay-now.disabled {
    pointer-events: none;
}

div#instant-checkout-error {
    padding: .375rem .75rem;
    text-align: right;
    font-size: 80%;
    color: #c00;
}

.credit-card-logo {
    content: "";
    position: absolute;
    right: .188rem;
    background-repeat: no-repeat;
    background-image: url(../../images/credit.png);
    background-size: contain;
    width: 3rem;
    height: 1.875rem;
    top: .313rem;
}

.credit-card-logo[data-credit-card-type="visa"] {
    background-image: url('../../images/payment-types.png');
    background-size: auto;
    background-position: -162px -110px;
    padding-left: 45px;
}

.credit-card-logo[data-credit-card-type="mastercard"] {
    background-image: url('../../images/payment-types.png');
    background-size: auto;
    background-position: -295px -110px;
    padding-left: 45px;
}

.credit-card-logo[data-credit-card-type="amex"] {
    background-image: url('../../images/payment-types.png');
    background-size: auto;
    background-position: -230px -15px;
    padding-left: 45px;
}

.credit-card-logo[data-credit-card-type="discover"] {
    background-image: url('../../images/payment-types.png');
    background-size: auto;
    background-position: -95px -110px;
    padding-left: 45px;
}

.credit-card-logo[data-credit-card-type="maestro"] {
    background-image: url('../../images/payment-types.png');
    background-size: auto;
    background-position: -162px -158px;
    padding-left: 45px;
}

.credit-card-logo[data-credit-card-type="diners"] {
    background-image: url('../../images/payment-types.png');
    background-size: auto;
    background-position: -295px -204px;
    padding-left: 45px;
}

.credit-card-logo[data-credit-card-type="uatp"] {
    background-image: url('../../images/otherpayment.png');
    background-size: auto;
    background-position: -43px -1px;
    padding-left: 45px;
}

.credit-card-logo[data-credit-card-type="jcb"] {
    background-image: url('../../images/otherpayment.png');
    background-size: auto;
    background-position: 6px -1px;
    padding-left: 45px;
}

.credit-card-logo[data-credit-card-type="dankort"] {
    background-image: url('../../images/otherpayment.png');
    background-size: auto;
    background-position: -92px -1px;
    padding-left: 45px;
}

.remove-font-weight {
    font-weight: normal;
}

.instant-checkout-note {
    font-size: 0.75rem;
}

.instant-checkout-shipping-methods {
    #shipping-method-template {
        display: none;
    }
    .text-muted.arrival-time {
        display: none;
    }
}

#instant-checkout {
    #card-iframe {
        display: none;
    }
}
