.saved-security-code img {
    max-width: 85%;
}

.card-number-wrapper {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 0.188rem;
        background-repeat: no-repeat;
        background-image: url('../../images/credit.png');
        background-size: contain;
        width: 3rem;
        height: 1.875rem;
        top: 0.313rem;
    }

    &[data-type="visa"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -162px -110px;
    }

    &[data-type="mastercard"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -295px -110px;
    }

    &[data-type="amex"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -230px -15px;
    }

    &[data-type="discover"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -95px -110px;
    }

    &[data-type="maestro"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -162px -158px;
    }

    &[data-type="diners"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -295px -204px;
    }

    &[data-type="uatp"]::after {
        background-image: url('../../images/otherpayment.png');
        background-size: auto;
        background-position: -43px -1px;
    }

    &[data-type="jcb"]::after {
        background-image: url('../../images/otherpayment.png');
        background-size: auto;
        background-position: 6px -1px;
    }

    &[data-type="dankort"]::after {
        background-image: url('../../images/otherpayment.png');
        background-size: auto;
        background-position: -92px -1px;
    }
}

div.payment-information {
	.panel-heading {
	margin-bottom: 0.625rem;
	}

	&[data-payment-method-id='Worldpay'] {
		.credit-card-content, .credit-card-content-redirect {
			& > .checkout-hidden {
				display: block;
			}
		}

		.worldpaySaveCreditFields {
			display: block;
		}

		.worldpayCreditFields {
			display: none;
		}

		button.add-payment {
			display: none;
		}

		button.cancel-new-payment {
			display: none;
		}

		.form-group.required.saved-security-code .form-control-label::before {
		  content: '';
		}

		.form-group.required.dwfrm_billing_creditCardFields_cpf .form-control-label::before {
		  content: '';
		}

		.tokenization-disabled {
			display: none;
		}
	}
	&[data-payment-method-id='CREDIT_CARD'] {
		.worldpayPreferCardField {
			display: none;
		}
	}
}

div.data-checkout-stage {
	&[data-checkout-stage='submitted'] {
		.edit-button {
			display: none;
		}
		button.place-order {
			display: none;
		}
	}
}


/* lightbox center align */
div#custom-html #wp-cl-lightbox {
	margin: 0 !important;
	left: 28%;
	top: 2%;
}
div#wp-cl {
	text-align: center;
}
/*ipad*/
@media screen and (min-width:48rem) and (max-width: 59.938rem)
{
	div#custom-html #wp-cl-lightbox {
		left: 20%;
		top: 20%;
		position: fixed;
		width:60% !important;
	}
}
#disclaimerModal, #disclaimerModalRedirect{
	input[name="disclaimer"] + span, input[name="disclaimercc"] + span{
		margin-left: 10px;
	}
}
.nav-tiles{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  margin-right: 10px;
  margin-bottom: 10px;
}
.nav-tiles:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav-tabs .nav-item {
    margin-bottom: 10px;
}
.card-head img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-head{
	padding: 10px;
	border: 1px solid #00a1e0;
	width: 50%;
	margin-bottom: -1px;
	display: none;
}
#gatewayerror {
	display:none;
	color:red;
}
#billing-user-content {
	padding: 20px;
	border: 1px solid #00a1e0;
}
.payment-form-content{
	padding: 20px;
	border: 1px solid #00a1e0;
	margin-top: -1px;
}
.redirect-text {
	text-align: center;
	color: #0070d2;
}
#chrome-pay-now.disabled {
    pointer-events: none;
}

.worldpay-3ds {
    #custom-trigger {
        display: none;
    }
}

.worldpay-3ds-session,.worldpay-confirmation, .worldpay-klarna-snippet {
    #klarnaiframe {
        height: 32rem;
        width: 100%;
        transition: height 0.15s;
        border: 0;
        display:none;
    }
    #card-iframe {
        display: none;
    }
}

.payment-details {
    #hidden-card-number {
        display: none;
    }
}

#statementNarrativecontent {
    display: none;
    #statementNarrative {
        resize: none;
    }
    .statement-narrative-disclaimer {
        .disclaimer {
            font-size: 0.9rem;
            margin-bottom: 0rem;
        }
    }
}

#disclaimer-error, #chose-to-save, #disclaimer-error-cc-redirect, #chose-to-save-redirect {
    display: none;
    color: red;
}

.elv-consent-content {
    .input-radio-elv-consent {
        width: 5%;
        display: inline-block;
        height: auto;
    }
    .elv-consent-content-error {
        padding-bottom: 25px;
    }
    .elv-consent-content-body {
        padding-left: 5%;
        margin-top: -1.5rem;
    }
}

#gpay-error {
    display:none;
    color:red;
}

.card-iframe {
    height: 6.25rem;
    width: 6.25rem;
    display: none;
}
