.saved-security-code img {
    max-width: 85%;
}

.card-number-wrapper {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 0.188rem;
        background-repeat: no-repeat;
        background-image: url('../../images/credit.png');
        background-size: contain;
        width: 3rem;
        height: 1.875rem;
        top: 0.313rem;
    }

    &[data-type="visa"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -10.125rem -6.875rem;
    }

    &[data-type="mastercard"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -18.438rem -6.875rem;
    }

    &[data-type="amex"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -14.375rem -0.938rem;
    }

    &[data-type="discover"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -5.938rem -6.875rem;
    }

    &[data-type="maestro"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -10.125rem -9.875rem;
    }

    &[data-type="diners"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -18.438rem -12.75rem;
    }

    &[data-type="uatp"]::after {
        background-image: url('../../images/otherpayment.png');
        background-size: auto;
        background-position: -2.688rem -0.063rem;
    }

    &[data-type="jcb"]::after {
        background-image: url('../../images/otherpayment.png');
        background-size: auto;
        background-position: 0.375rem -063rem;
    }

    &[data-type="dankort"]::after {
        background-image: url('../../images/otherpayment.png');
        background-size: auto;
        background-position: -5.75rem -063rem;
    }
}

div.payment-information {
    .panel-heading {
    margin-bottom: 0.625rem;
    }

    &[data-payment-method-id='Worldpay'] {
        .credit-card-content, .credit-card-content-redirect {
            & > .checkout-hidden {
                display: block;
            }
        }

        .worldpaySaveCreditFields {
            display: block;
        }

        .worldpayCreditFields {
            display: none;
        }

        button.add-payment {
            display: none;
        }

        button.cancel-new-payment {
            display: none;
        }

        .form-group.required.saved-security-code .form-control-label::before {
          content: '';
        }

        .form-group.required.dwfrm_billing_creditCardFields_cpf .form-control-label::before {
          content: '';
        }

        .tokenization-disabled {
            display: none;
        }
    }
    &[data-payment-method-id='CREDIT_CARD'] {
        .worldpayPreferCardField {
            display: none;
        }
    }
}

div.data-checkout-stage {
    &[data-checkout-stage='submitted'] {
        .edit-button {
            display: none;
        }
        button.place-order {
            display: none;
        }
    }
}

button.pay-by-link {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: none;
}

/* lightbox center align */
div#custom-html #wp-cl-lightbox {
    margin: 0 !important;
    left: 28%;
    top: 2%;
}
div#wp-cl {
    text-align: center;
}
/*ipad*/
@media screen and (min-width:48rem) and (max-width: 59.938rem)
{
    div#custom-html #wp-cl-lightbox {
        left: 20%;
        top: 20%;
        position: fixed;
        width:60% !important;
    }
}
#disclaimerModal, #disclaimerModalRedirect{
    input[name="disclaimer"] + span, input[name="disclaimercc"] + span{
        margin-left: 0.625rem;
    }
}
.nav-tiles{
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}
.nav-tiles:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
}

.nav-tabs .nav-item {
    margin-bottom: 0.625rem;
}
.card-head img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-head{
    padding: 0.625rem;
    border: 0.063rem solid #00a1e0;
    width: 50%;
    margin-bottom: -0.063rem;
    display: none;
}
#gatewayerror {
    display:none;
    color:red;
}
#nominalerror {
    display:none;
    color:red;
}
#billing-user-content {
    padding: 1.25rem;
    border: 0.063rem solid #00a1e0;
}
.payment-form-content{
    padding: 1.25rem;
    border: 0.063rem solid #00a1e0;
    margin-top: -0.063rem;
}
.redirect-text {
    text-align: center;
    color: #0070d2;
}
#chrome-pay-now.disabled {
    pointer-events: none;
}

.worldpay-3ds {
    #custom-trigger {
        display: none;
    }
}

.worldpay-3ds-session,.worldpay-confirmation, .worldpay-klarna-snippet {
    #klarnaiframe {
        height: 32rem;
        width: 100%;
        transition: height 0.15s;
        border: 0;
        display:none;
    }
    #card-iframe {
        display: none;
    }
}

.payment-details {
    #hidden-card-number {
        display: none;
    }
}

#statementNarrativecontent {
    display: none;
    #statementNarrative {
        resize: none;
    }
    .statement-narrative-disclaimer {
        .disclaimer {
            font-size: 0.9rem;
            margin-bottom: 0rem;
        }
    }
}

#disclaimer-error, #chose-to-save, #disclaimer-error-cc-redirect, #chose-to-save-redirect {
    display: none;
    color: red;
}

.elv-consent-content {
    .input-radio-elv-consent {
        width: 5%;
        display: inline-block;
        height: auto;
    }
    .elv-consent-content-error {
        padding-bottom: 1.563rem;
    }
    .elv-consent-content-body {
        padding-left: 5%;
        margin-top: -1.5rem;
    }
}

#gpay-error {
    display:none;
    color:red;
}

.gpay-btn{
    height: 2.375rem;
    width: 8.125rem;
    display: inline-block;
    position:relative;
    margin:1%;
}

.gpay-msg{
    display:none;
}

@media (max-width: 34rem){
    .gpay-btn {
        width: 98%;
        margin: 1%;
        display: block;
    }
    .gpay-msg{
        display:block;
        color: #00a1e0;
        font-weight:100;
        font-size:0.75rem;
        padding: 0.25rem;
    }
}

.info-icon-gpay {
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 0;
    background: inherit;
}

.tooltip-gpay{
    display:none;
}

.info-icon-gpay:hover .tooltip-gpay {
    position: absolute;
    padding: 0.312rem;
    display:block;
    border-radius: 0.1875rem;
    background-color: #444;
    color: white;
    font-size: 0.928rem;
    min-width: 15rem;
    max-width: 15rem;
    transform: translate(0.3em, 0%);
    left: 100%;
    margin-left: 0.25rem;
    animation: fade-in 0.5s linear forwards;
    @keyframes fade-in {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}

.tooltip-gpay::after {
    border-left: solid transparent 0.625em;
    border-right: solid transparent 0.625em;
    border-top: solid #444 0.625em;
    bottom: 50%;
    content: " ";
    height: 0;
    left: 0;
    margin-left: -0.8125rem;
    position: absolute;
    width: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.card-iframe {
    height: 6.25rem;
    width: 6.25rem;
    display: none;
}
